body{
    background-color: rgba(126, 234, 93, 0.899);
}
h2{
    text-align: center;
    text-decoration: overline;
    color: darkblue;
    transition: text-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}
 h2:hover {
 text-shadow: 2px 2px 5px rgb(60, 49, 175);
 transform:scale(1.1);
}
table {
    border-collapse: collapse;
    width: auto;
    margin: 20px auto;
}
th,td {
    border: 10px solid rgb(22, 119, 119);
    padding: 10px;
    text-align: left;   
}
td{
    transition: color 0.3s ease-in-out;
}
 td:hover {
  color: rgb(255, 53, 53);  
  cursor: pointer;
}
th {
    background-color: rgb(88, 188, 188);
    color:whitesmoke;
}